* {
    margin: 0;
    padding: 0;

}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(3pink.avif);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    display: flex;
    height: 75px;
    margin: auto;
}

.icon {
    float: left;
    height: 70px;
}

.logo {
    color: #FF066E;
    font-size: 40px;
    font-family: Arial;
    padding-left: 20ox;
    float: left;
    padding-top: 25px;
}

.menu {
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #FF066E;
}

.search {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.srch {
    border: 1px solid #FF066E;
    background: transparent;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    color: #ffffff;
    height: 40px;
    font-family: 'Times New Roman';
    font-size: 16px;
    float: left;
    padding: 10px;
}



.btn {
    outline: none;
    height: 40px;
    background: transparent;
    border: 1px solid #FF066E;
}

.srch:focus {
    outline: none;
}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #FF066E;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;

}

.content span {
    color: #FF066E;
    font-size: 60px;
}

.popup {
    width: 100vw;
    height: 109vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: url(4game.png);
    background-size: cover;
    width: 500px;
    height: 300px;
    z-index: 1;

    text-align: center;
    color: #FF066E;
    padding: 20px;
    box-sizing: border-box;
    box-align: center;
}

.lin{
    display: block;
    cursor: pointer;
    position: relative;
    top : 210px;
    height: 20%;
    width: 70%;
    margin: auto;
}

.popup .close-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%
}

#popup-1 {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
}


#popup-1.active {
    display: block;
}


/* .popup .active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
} */


.form {
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #FF066E;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

::placeholder {
    color: #fff;
    font-family: Arial;
}

#search-btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 80px;
}

#login-btn {
    width: 240px;
    margin-top: 30px;
    border-radius: 10px;

}

.btn {
    height: 40px;
    background: #FF066E;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btn:hover {
    background: #fff;
    color: #FF066E;
}

.btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #FF066E;
}

.liw {
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ion-icon {
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}

.icons ion-icon:hover {
    color: #FF066E;
}